* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#world {
  width: 626px;
  margin: 34px auto 0;
}


h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #3F3D56;
  margin: 32px 0 16px;
}

h1 span {
  color: #EE24FF;
  font-weight: 700;
}

article p {
  color: #828282;
  line-height: 22px;
  font-size: 15px;
}

article p span {
  font-weight: 700;
}

article p strong {
  color: #3F3D56;
}

article p+p {
  margin-top: 32px;
}

#line {
  width: 400px;
  height: 0;
  border: solid 1px #ECEFF2;
  margin: 34px auto 16px;
}

footer a+a {
  margin-left: 42px;
}

a {
  text-decoration: none;
  color: #3F3D56;
  font-weight: 700;
}

#img img {
  width: 100%;
  margin-top: 20px;
}